<div class="container-fluid">
  <div class="row">
    <h1>This is the Donate page</h1>
  </div>
  <ul>
    <li>
      <%= link_to 'Financial Donors', donors_path %>
    </li>
    <li>
      <%= link_to 'Aircraft Owner and Pilot Recognition', pilot_and_owner_recognition_path %>
    </li>
    <li>
      <%= link_to 'Corporate Sponsors of the VAC', corporate_recognition_path %>
    </li>
    <li>
      <%= link_to 'Memorial Wall', memorial_wall_path %>
    </li>
  </ul>
</div>
