<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 col-sm-12 mx-auto d-block">
    <%= image_tag "memorial_wall/memorial-remember.png", class: "img-fluid mx-auto d-block" %>
  </div>
  <div class="container-fluid">
      <center><h5>John "Jack" William Mangan, III</h5></center>
      <%= image_tag "memorial_wall/memorial-mangan.jpg", class: "img-fluid mx-auto d-block"%>
      <center>
      <p>July 8, 1957<br>September 17, 2011</p>
      <p>John (Jack) W. Mangan III, 54, of Cornelius NC,<br>died suddenly on Saturday, September 17, 2011 in Martinsburg, WV.</p>
      <p>Born in Boston, MA, on July 8, 1957, Jack was raised in Dedham, MA and graduated from Dedham High School in 1975. He received his Bachelor’s degree from the U.S. Air Force Academy Class of 1979 and went on to serve in the U.S. Air Force as a fighter pilot flying F-4 and F-15 aircraft, and as an instructor and mission commander who participated in peace-keeping missions and led operations against aggressors. While on active duty, he rose to the rank of major and was awarded three Meritorious Service Medals and the prestigious Fighter Pilot of the Year Award in 1984. </p>
      <p>Upon completion of his active duty commitment, Jack chose to pursue his dream of becoming an entrepreneur and ventured into the quick-serve restaurant business. He currently was president and chief operating officer of Restaurant Management Group (RMG), a franchisee and owner/operator of 81 Hardee’s and Little Caesars Pizza restaurants located across eight states, with over 2,000 employees. He had been a partner/owner in the company since its founding in 2000. He also served on Hardee’s Food System’s Franchise Advisory Board and was Vice President of the Independent Hardee’s Franchisee Association (IHFA). Jack previously was the regional franchisor for the Manhattan Bagel in NC, SC and GA, where he was the largest regional franchisor in the country. </p>
      <p>Jack was also passionate about philanthropy and served as an active member and supporter of a number of organizations, including The Veterans Airlift Command, an organization that offers free flights to wounded veterans and their families, and the Patriot Foundation, an organization that supports military families who have had loved ones killed or wounded in war. He was a pilot for the Trojan Horsemen, the only 6 ship T-28 Warbird formation demonstration team performing in the world today, created as a salute to the armed forces of the United States of America. He was an active member of the Air Force Association and the APOA. </p>
      <p>Jack is survived by his cherished wife of 31 years Kathleen (McKinney), and his beloved daughters Pamela of San Francisco and Elizabeth of Cornelius, and his son Sean and his wife Hannah of Cornelius. He is also survived by his grandson, Gavin, sister Kathleen Cobb and her husband Chris of Franklin, MA, and brother Michael Mangan and his wife Holly of Port St. Lucie, FL. He was the beloved son of Barbara (Lane) Mangan and the late John W. Mangan, Jr. of Fort Pierce, FL. He is also survived by many nieces and nephews. </p>
      </center>
  </div>
  </div>
</div>

<center>
<%= link_to 'Back to the Memorial Wall', memorial_wall_path %>
</center>

<div class="col-lg-6 col-sm-12 mx-auto d-block">
  <%= image_tag "memorial_wall/memorial-remember.png", class: "img-fluid mx-auto d-block" %>
</div>