<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 col-sm-12 mx-auto d-block">
    <%= image_tag "memorial_wall/memorial-remember.png", class: "img-fluid mx-auto d-block" %>
  </div>
  <div class="container-fluid">
      <center><h5>Edward Joseph McGovern</h5></center>
      <%= image_tag "memorial_wall/memorial-mcgovern.jpg", class: "img-fluid mx-auto d-block"%>
      <center>
      <p>March 31st, 1962<br>December 6, 2009</p>
      <p>Edward Joseph McGovern, Major, United States Air Force (Retired), passed away while serving his country in Afghanistan on December 6, 2009. Major McGovern was born on March 31, 1962 and was the beloved son of Edward C. and Joan McGovern, formerly of Stony Brook, Long Island, NY, now living in Charlottesville, VA.</p>
      <p>Major McGovern graduated from St. Anthony High School in Smithtown, NY, and from the United States Air Force Academy in 1985.</p>
      <p>While serving as an instructor and evaluator pilot for the Air Force he logged over 4,000 flight hours in a variety of aircraft, including the T-37, T-38 and U-2/TR-1 reconnaissance aircraft. Ed amassed over 460 combat hours flying U-2 missions in multiple theaters, including seven tours as a deployed operations officer and three tours as a deployed squadron commander. He was awarded the USAF Air Medal twice in his career and the USAF Bronze Star for his meritorious service as a combat commander during Operation Iraqi Freedom.</p>
      <p>Ed retired after 20 years of honorable service to the USAF. After his retirement, Ed continued to serve his country by working for a major defense contractor supporting the best interests of the United States government and helped to fulfill our national security objectives throughout the world. Ed was serving in this capacity in Afghanistan at the time of his death.</p>
      <p>Major McGovern is survived by his parents, a brother, Jon McGovern, and three sisters; Susan Butler, Karyn Kadar and Patricia McGovern. Ed is also survived by two brothers-in-law; Lt. Col. John D. Butler and Ken Kadar and by a sister-in-law, Maryanne McGovern. He will also be missed by his two nieces; Erin Delaney Butler and Mia Joan Kadar, and his three nephews; Sean Edward Butler, Harrison Edward McGovern and Orion Jacob Kadar.</p>
      <p>Ed will also be dearly missed by a very special friend, Miss Penny Brundege.</p>
      <p>On Wednesday, February 10, 2010, Major McGovern was laid to rest with full military honors at Arlington National Cemetery in Washington, DC. The family asks that donations in remembrance of Edward J. McGovern be made to the Veterans Airlift Command</p>
      </center>
  </div>
  </div>
</div>

<center>
<%= link_to 'Back to the Memorial Wall', memorial_wall_path %>
</center>

<div class="col-lg-6 col-sm-12 mx-auto d-block">
  <%= image_tag "memorial_wall/memorial-remember.png", class: "img-fluid mx-auto d-block" %>
</div>