<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 col-sm-12 mx-auto d-block">
    <%= image_tag "memorial_wall/memorial-remember.png", class: "img-fluid mx-auto d-block" %>
  </div>
  <div class="container-fluid">
      <center><h5>George ("Poppy") Sylvester Miller Jr.</h5></center>
      <%= image_tag "memorial_wall/memorial-miller.jpg", class: "img-fluid mx-auto d-block"%>
      <center>
      <p>George ("Poppy") Sylvester Miller Jr. went to Heaven on 8/12/11.  George was born on Oct. 11, 1922 in Brooklyn, NY to George and Mary Miller. He was the last survivor of 7 children. 
    George married the late Kathleen L. Robinson in 1951.  They had 2 children, Karen (Miller) DeAngelo of Richmond, Mo and George S. Miller III of Plano, Tx.   Grandchildren: Dianna Clevenger, Melissa Bartlett, Christina DeAngelo, Joanna Anders, Jessica Wilkes, Joseph DeAngelo IV , Michael DeAngelo and Maria Grewar,Lindsey Jordon, Errica Crain along with 14 great-grandchildren whom ALL loved him dearly! </p>
      <p>George served from 1941-1947 during WWII as a US Marine and survived the 1st Marine Division Invasion of Guadalcanal. He became a New York City Police Officer in 1953 until his retirement in 1978.  He then moved to Richmond and worked around 10 years at "The Rayville Station" until he really retired. </p>
      <p>George attended The Immaculate Conception Church in Richmond. He was active in Richmond VFW and The American Legion.  He enjoyed weekly ceramic classes at the Senior Center. Upon George's request, a private mass will be held at his church. A life celebration memorial party will be held for all his friends and family  Sept. 5Th at 11am at the Richmond VFW.  Please join us in his honor for fellowship, per his wishes. George will be buried at the Veteran's Memorial Cemetery in Higginsville with Military Honors.</p>
      </center>
  </div>
  </div>
</div>

<center>
<%= link_to 'Back to the Memorial Wall', memorial_wall_path %>
</center>

<div class="col-lg-6 col-sm-12 mx-auto d-block">
  <%= image_tag "memorial_wall/memorial-remember.png", class: "img-fluid mx-auto d-block" %>
</div>