<div class="row" style="padding:10%;">
  <div class="col-md-3 col-sm-0"></div>
  <div class="col-md-6 col-sm-12">
  
  <h1 class="fontColor1 bowlby">Welcome to Veterans Airlift Command, <%= @user.firstname  %></h1>
  
  <p>You have successfully signed up to Veterans Airlift Command.</p>
  
  <p>To log in to the site, just follow this link: <%= @url %></p>
  
  <p>Thanks for joining and have a great day!</p>
  
  </div>
  <div class="col-md-3 col-sm-0"></div>
  
</div>
