<h1 class="fontColor1 bowlby">ADMIN PAGE</h1>
<div class="row">
  <div class="col-12 mx-auto d-block">
    <p>Welcome to the admin page. With website administrator privileges, you can:</p>
    <ul>
      <li>
        <%= link_to "Compose an e-mail to certain users.", admin_email_path %>
      </li>
      <li>
        <%= link_to "Modify, create, delete, or view user information.", admin_users_path(1) %>
      </li>
    </ul>
  </div>
</div>