<h1 class="bowlby fontColor1" style="padding-top:2%;">PRIVACY POLICY</h1>
<div class="row" style="padding-bottom:5%">
  <div class="container text-center">
    <h3>
      Under no circumstances
    </h3>
    <h3>
      will we sell your name or personal information to anyone.
    </h3>
    <h3>
      It doesn't get simpler than that.
    </h3>
  </div>
</div>