<div class="container-fluid">
  <div class="row">
    <h1 class="bowlby fontColor1" style="padding-top:2%;">FOR PILOTS AND PLANES</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-sm-12">
    <div>
     <h4 class="fontColor10"><b>Aircraft Frequently Asked Questions</b></h4>
      
      </div>
      </div>
      </div>
      
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.accordion {
    background-color: #eee;
    color: #000099;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    content: '\002B';
    color: #000099;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: #e6e6ff;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
</style>
</head>
<body>


<button class="accordion"><b>What are the qualifications to become a volunteer pilot for the VAC?</b></button>
<div class="panel">
  <p>You need to possess a valid U.S. pilot's license with a current medical certification. You need to have an instrument rating as well as ratings appropriate to the aircraft you will be flying.</p>
</div>

<button class="accordion"><b>What about personal liability?</b></button>
<div class="panel">
  <p>The VAC is a coordinating agency only. As such, it assumes no liability for any pilot actions. The liability is the same as if you were transporting any other non-related passengers. If you require a release from the passengers, the VAC has a sample release that you can review online. The VAC, however, takes no position as to its completeness or validity. The release is provided simply as a convenience. Your own attorney should review any release you use.</p>
</div>

<button class="accordion"><b>What about a copilot?</b></button>
<div class="panel">
  <p>As the pilot-in-command (PIC), you can elect whether or not to have a copilot. We encourage you to take a copilot along if the passenger load permits it.</p>
</div>

<button class="accordion"><b>Why are two pilots desired?</b></button>
<div class="panel">
  <p>The primary reason for two pilots is to help assuage any anxiety our passengers may have about riding in small planes. Remember, many of them have either no or very limited experience as small-plane passengers. They only know what they have heard or what they have read in the newspapers—most of which only serves to increase their anxiety, not relieve it.</p>
</div>

<button class="accordion"><b>What if I don't have an airplane available?</b></button>
<div class="panel">
  <p>The same pilot requirements apply, but you may register a rental aircraft. This would also be a great opportunity to pass this along to your friends who own or operate appropriate aircraft...you can fly as their co-pilot!</p>
</div>

<button class="accordion"><b>How much control does the PIC have over the mission?</b></button>
<div class="panel">
  <p>As the PIC, you control all flying aspects of the mission, the same as you do on any flight you fly. Once you receive the mission assignment, all communications with the passengers are your responsibility.</p>
</div>

<button class="accordion"><b>What are my responsibilities for the mission?</b></button>
<div class="panel">
  <p>Safety is number one, of course. But beyond that, passenger satisfaction is an important responsibility. You are the only VAC member the passengers see, and as such you represent the VAC to them. When you first contact them, consider introducing yourself as, for example, John/Jane Doe, the captain for your upcoming flight. It may seem overblown to refer to yourself in this way, but this introduction is reassuring to a passenger nervous about riding in "those little airplanes." If you think of yourself as Captain John/Jane Doe, they will also. A professional appearance and a professional attitude go a long way toward creating a pleasurable flying experience for a VAC passenger.</p>
</div>

<button class="accordion"><b>How will I know when a mission comes up?</b></button>
<div class="panel">
  <p>VAC staff will contact you (generally via email) when a mission becomes available. You will know the mission date, pickup and delivery cities, and the number and weight of all passengers. Whether or not you accept the mission at this point is up to you. Open unassigned missions also appear under the aircraft tab on the website homepage.</p>
</div>

<button class="accordion"><b>How much advance notice is given?</b></button>
<div class="panel">
  <p>Advance notice varies, but VAC staff give notice as soon as the mission request is approved. Many of the missions, however, come up on short notice as medical conditions are often not known in advance.</p>
</div>

<button class="accordion"><b>What information do I get if I accept the mission?</b></button>
<div class="panel">
  <p>You will receive an email Mission Assignment with instructions to log on to the website where you will see the mission detail. This contains the mission date, pickup and delivery cities, and the number and weight of all passengers. In addition, you will receive the name, phone number, e-mail address and other contact information of the Passenger Coordinator, who is designated to speak for the passengers on the mission.</p>
</div>

<button class="accordion"><b>Who does the actual planning of the flight?</b></button>
<div class="panel">
  <p>You do the flight planning. You set up the pickup and delivery times and places in consultation with the Passenger Coordinator. You determine each leg of the flight, number of crew and passengers on board, and the distance. When talking to the Passenger Coordinator, you can communicate any rules about snacks, luggage, etc.</p>
</div>

<button class="accordion"><b>What about liability?</b></button>
<div class="panel">
  <p>You are responsible for your aircraft's compliance at all times with applicable federal and state regulations regarding insurance, maintenance, operations, and license. The VAC is a coordinating agency only. As such, it assumes no liability for any aircraft while on VAC missions. The liability is the same as if the aircraft were transporting any other non-related passengers. If you require a release from the passengers, the VAC has a sample release which you can review online. The VAC, however, takes no position as to its completeness or validity. The release is provided simply as a convenience. Your own attorney should review any release you use.</p>
</div>

<button class="accordion"><b>Is there any compensation for fuel or any other airplane expenses?</b></button>
<div class="panel">
  <p>No. These missions normally are flown under Part 91 of the Federal Air Regulations, which prohibit any direct compensation.</p>
</div>

<button class="accordion"><b>Are VAC flights deductible from income tax as a charitable contribution?</b></button>
<div class="panel">
  <p>Yes, VAC flights normally are deductible since the VAC is organized as a not-for-profit corporation under 501c3 of the IRS code. The VAC, however, does not give out tax advice; consult your tax advisor for a final determination. The VAC will provide you with the number of hours and missions flown each year. The valuation of the deduction is up to you and your tax advisor.</p>
</div>


<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  });
}
</script>

</body>
</html>
