<h1 class="bowlby fontColor1" style="padding-top:2%;">FOR PILOTS AND PLANES</h1>
<div class="row">
  <div class="col-lg-6 col-md-8 col-sm-12 mx-auto d-block align-self-center">
    <div style="padding:10px 20px;">
      <button type="button" class="btn btn-primary btn-block bg-navyblue">
        <b>PILOT APPLICATION</b>
      </button>
    </div>
    <div style="padding:10px 20px;">
      <button type="button" class="btn btn-primary btn-block bg-navyblue">
        <b>AIRCRAFT APPLICATION</b>
      </button>
    </div>
    <div style="padding:10px 20px;">
      <button type="button" class="btn btn-primary btn-block bg-navyblue">
        <b>PILOT F.A.Q.S</b>
      </button>
    </div>
    <div style="padding:10px 20px;">
      <button type="button" class="btn btn-primary btn-block bg-navyblue">
        <b>AVAILABLE MISSIONS</b>
      </button>
    </div>
    <div style="padding:10px 20px;">
      <button type="button" class="btn btn-primary btn-block bg-navyblue">
        <b>AC/PILOT RECOGNITION</b>
      </button>
    </div>
    <div style="padding:10px 20px;">
      <button type="button" class="btn btn-primary btn-block bg-navyblue">
        <b>MISSION CONTROL</b>
      </button>
    </div>
  </div>
  <div class="col-lg-6 col-sm-12 mx-auto d-block">
    <%= image_tag "PilotsAndVets.jpg", class: "img-fluid mx-auto d-block" %>
  </div>
</div>
<div class="row">
  
  <div class="col-12">
    <div>
      <h5 class="fontColor1">
        Volunteering an aircraft for VAC missions
      </h5>
      <p>Many of the plane owners who volunteer with us are also pilots who welcome the opportunity to perform a valuable service while maintaining their proficiency. Some owners come from military backgrounds themselves; others are seasoned aviators or simply passionate about flying. But they all have one thing in common - the desire to serve those who have served us.</p>
      <p>In the interest of safety as well as camaraderie, the VAC encourages two rated pilots to fly together when practical.</p>
      <p>Corporate aircraft & fractional ownership aircraft Volunteering the use of a plane is an outstanding way for businesses to demonstrate their patriotism and put available resources to work for a good cause. For companies involved in fractional aircraft ownership programs, it's an excellent use of unused flying hours.</p>
    </div>
    <div>
      <h5 class="fontColor1">
        Aircraft Qualifications
      </h5>
      <p>VAC missions often exceed 250 miles, we look for multi-engine or high-performance single-engine aircraft with:</p>
      <ul>
        <li>Certification for instrument flight</li>
        <li>A standard U.S. airworthiness certificate</li>
        <li>Licensure in the normal or utility category</li>
      </ul>
      <p>You are responsible for your aircraft's compliance at all times with applicable federal and state regulations regarding insurance, maintenance, operations and license.</p>
    </div>
    <div>
      <h5 class="fontColor1">
        Pilots-in-command
      </h5>
      <p>PICs typically supply their own aircraft.
      Ready to volunteer? Fill out the Pilot Application form.<br>
      We look forward to serving our veterans with you.</p>
    </div>
    <div>
      <h5 class="fontColor1">
        Pilot Qualifications
      </h5>
      <ul>
        <li>A valid U.S. pilot's license</li>
        <li>Current medical</li>
        <li>An instrument rating as well as ratings appropriate to the aircraft you will be flying</li>
        <li>A clean flying record: your license must never have been suspended or revoked, and the FAA must never have taken enforcement actions against you</li>
      </ul>
    </div>
    <div>
      <p>More questions? Contact us!</p>
      <p>Ready to volunteer? Fill out the Aircraft Application form. <br> We look forward to serving our veterans with you.</p>
    </div>
  </div>
</div>
