<div class="container-fluid">
  <div class="row">
    <h1 class="bowlby fontColor1" style="padding-top:2%;">MISSION CONTROL</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-sm-12">
    <div>
      <h5 class="fontColor1">Welcome to Mission Control</h5>
      <p>
        If you are a registered user for this site, <%= link_to "click here to login.", login_path %>
        If you are interested in learning more about the Veteran's Airlift Command, please visit our 
        public site at http://www.veteransairlift.org
      </p>
      </div>
      </div>
      </div>