<h1 class="bowlby fontColor1" style="padding-top:2%;">TRAVEL REQUEST</h1>
<div class="row" style="padding-bottom:5%">
	<div class="col-6 mx-auto d-block">
		<%= image_tag ("icons/register.png"), :class => "img-fluid mx-auto d-block" %>
	</div>
  <div class="col-12 text-center">
  	
    <h3>
      Thank you very much! Your request has been received.
    </h3>
  </div>
</div>