<div class="container-fluid">
  <div class="row">
    <h1 class="bowlby fontColor1" style="padding-top:2%;">PASSENGER INFORMATION</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-sm-12">
    <div>
     <h4 class="fontColor10"><b>Passenger Frequently Asked Questions</b></h4>
      
      </div>
      </div>
      </div>
      
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.accordion {
    background-color: #eee;
    color: #000099;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    content: '\002B';
    color: #000099;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: #e6e6ff;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
</style>
</head>
<body>


<button class="accordion"><b>How should I prepare for the flight?</b></button>
<div class="panel">
  <p>First of all, dress comfortably. Secondly, ease off on liquid intake and take one final bathroom break before boarding. Feel free to bring along electronic devices such as iPods, reading material, a camera, as well as light snacks. Then just relax and enjoy your flight.</p>
</div>

<button class="accordion"><b>What if I have questions about the airplane, the pilot, or the flight itself?</b></button>
<div class="panel">
  <p>Read through these FAQs. Your Captain will be in contact with you prior to the flight and can answer any questions specific to your flight. If you need immediate answers, call the VAC and we will help you. We ask that passengers refrain from interacting extensively with the Captain during the flight; he/she is there to concentrate on providing safe, professional air transport.</p>
</div>

<button class="accordion"><b>What are these planes like inside?</b></button>
<div class="panel">
  <p>In many cases, the seats in small planes are more comfortable than airline coach seats. In most of these airplanes, however, the cabins are too small for you to leave your seat and move about.</p>
</div>

<button class="accordion"><b>Do small planes have bathrooms?</b></button>
<div class="panel">
  <p>Most small planes do not have bathrooms.</p>
</div>

<button class="accordion"><b>How much luggage can I bring?</b></button>
<div class="panel">
  <p>Luggage must be packed in regular-sized soft-side suitcases or duffel bags. Total weight of all luggage is limited to 50 pounds. Prior permission from the Captain is required before you can bring any items that are of an unusual size or shape.
</p>
</div>

<button class="accordion"><b>Can we bring food and drinks on the plane?</b></button>
<div class="panel">
  <p>Bottled drinks and light snacks normally are permitted, but this is at the discretion of your Captain.
</p>
</div>

<button class="accordion"><b>Can we bring alcohol on the plane?</b></button>
<div class="panel">
  <p>VAC policy prohibits alcohol consumption while in flight. VAC policy also prohibits boarding any passenger who is intoxicated, just as the airlines do.</p>
</div>

<button class="accordion"><b>Can we bring a pet on the plane?</b></button>
<div class="panel">
  <p>VAC policy prohibits pets on the flight.</p>
</div>

<button class="accordion"><b>Can I use my mobile phone during the flight? What about other electronics?</b></button>
<div class="panel">
  <p>You can use mobile phones on the ground, but you must turn them off and keep them off when the plane is in the air. You may use other electronics at any time.</p>
</div>

<button class="accordion"><b>Will the ride be smooth? Will it be bumpy? How does the ride compare with airliners?</b></button>
<div class="panel">
  <p>The ride depends entirely on the weather. Most trips are smooth. The ride in a small plane is usually about the same as it is in an airliner, since both are subject to the same weather conditions.</p>
</div>

<button class="accordion"><b>Is there a greater chance for airsickness in a small plane?</b></button>
<div class="panel">
  <p>No, it is the same as in an airliner. Even though airsickness occurs rarely, small planes carry airsickness bags just as airliners do.</p>
</div>

<button class="accordion"><b>I sometimes have trouble popping my ears when I fly. Will that be even more of a problem in a small plane than in an airliner? </b></button>
<div class="panel">
  <p>No, the pressure changes are about the same in each case. In a small plane, however, you can ask the Captain to level off for a bit if your ears need a moment or two to "catch up."</p>
</div>

<button class="accordion"><b>Are the cabins in small planes pressurized? What about back-up oxygen such as the masks that drop down from overhead in the airliners?</b></button>
<div class="panel">
  <p> Some small planes are pressurized, and if they are, back-up oxygen is available in case of a pressurization failure, the same as in airliners. Unpressurized planes do not fly high enough to require oxygen</p>
</div>

<button class="accordion"><b>I understand the air is quite cold high up. Should I wear warm clothes?</b></button>
<div class="panel">
  <p>Wear clothes appropriate to the time of year. You do not need to wear an overcoat. The planes are normally quite comfortable.</p>
</div>

<button class="accordion"><b>Do pilots of small planes file flight plans like they do in commercial flights? Will an air traffic controller work with my pilots to help them land safely?</b></button>
<div class="panel">
  <p>VAC Captains are all licensed instrument pilots; as such they can file flight plans just as with commercial flights. VAC policy is to file instrument flight plans on all trips, putting our volunteer planes on equal footing with the airliners. VAC Captains can fly in the same system, utilizing the same air traffic controllers and following the same flight procedures as the airliners.</p>
</div>

<button class="accordion"><b>Is passenger weight a consideration?</b></button>
<div class="panel">
  <p>Individual passenger weight is more of a consideration in small planes than in airliners. It is important to be accurate when giving weights to the captain; this is a flight safety issue. The total weight of all passengers, pilots, luggage and fuel is calculated before each trip. If the weight total is a problem, it will be addressed before the trip is scheduled.
</p>
</div>

<button class="accordion"><b>Are small planes noisy?</b></button>
<div class="panel">
  <p>The noise level in some small planes is higher than it is in airliners, but it is not uncomfortable. You can carry on a normal conversation with the person seated next to you. Many airplanes have headphones available to aid in talking to the Captain.</p>
</div>

<button class="accordion"><b>What about passengers who are disabled?</b></button>
<div class="panel">
  <p>VAC staff will do their best to accommodate people who need walkers by scheduling planes that these people can board. However, this requirement will limit the numbers of aircraft available, and may not be possible in all circumstances.
Most VAC aircraft are unable to accommodate wheelchairs.
In general, VAC policy requires all passengers to be ambulatory and to board without assistance. Any in-flight medication must be self-administered. Any passenger who may need in-flight medical attention should arrange for an attendant to ride along. Oxygen bottles can be accommodated in most instances.</p>
</div>

<button class="accordion"><b>What about children?</b></button>
<div class="panel">
  <p>Each child capable of sitting up must occupy a seat and be secured with a seatbelt. Minor children cannot travel without an adult accompanying them.</p>
</div>


<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  });
}
</script>

</body>
</html>
