<div class="container-fluid">
  <div class="row">
    <h1>This is the Passengers page</h1>
  </div>
  <ul>
    <li>
      <%= link_to 'Travel Request', passengers_travel_path %>
    </li>
    <li>
      <%= link_to 'Passengers FAQs', passengers_faq_path %>
    </li>
  </ul>
</div>
