.anton {
    font-family: 'Anton', sans-serif;
}

.bowlby {
  font-family: 'Fugaz One', cursive;
}

.sourceSans {
  font-family: 'Source Sans Pro', sans-serif;
}

.fontColor1 {
  color: #c60651;
}

.text-navyblue {
  color:  #232360;
}

.text-gray {
  color: #444;
}

.unbold {
  font-weight: normal;
}